* { box-sizing: content-box; }

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

table {
  width: 94vw;
  margin: auto;
  /* border: 1px solid #000; */
  border-collapse: collapse;
}
tr:first-child td {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
tr td:first-child {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}
tr:hover {
  border-top: 2px solid #00F;
  border-bottom: 2px solid #00F;
}
tr:hover td:first-child { color: #F00; }

td {
  position: relative;
  width: 5.2631578947368425vw;    /* (100 / 19) => 5.2631578947368425 */
  height: 5.2631578947368425vw;
  border: 2px solid #000;
  font: normal 2rem Helvetica, sans-serif;
  text-align: center;
}

td:hover {
  box-shadow: inset 0 0 25px 1px rgba(134, 134, 134, 0.60);
  cursor: pointer;
}

td.top { border-top: 5px solid blue; }
td.bottom { border-bottom: 5px solid blue; }
td.left { border-left: 5px solid blue; }
td.right { border-right: 5px solid blue; }
td.empty { border: none; }

td.s-block { background-color: rgba(146, 193, 235, 0.64); }
td.p-block { background-color: rgba(179, 236, 175, 0.64); }
td.d-block { background-color: rgba(222, 222, 117, 0.64); }
td.f-block { background-color: rgba(230, 129, 194, 0.64); }

.element-name {
  display: block;
  width: initial;
  height: 0.7rem;
  font-size: 0.7rem;
  line-height: 0;
}

b {
  display: block;
  margin-top: 1rem;
}

i {
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  font-size: 1rem;
}
